.main{
    display: flex;
    align-items: stretch;
    height: 100vh;
}
.authorList{
    flex-grow: 0;
    min-width: 240px;
    max-width: 240px;
    height: 100%;
}
.authorCard{

}
.authorCard:hover{
    background-color: #1DA57A;
}

.content{
    flex-grow: 1;
    overflow: scroll;
}
